<header class='app-header'>
  <nav class='app-nav'>
    <a class='app-nav__link' [routerLink]="['/services']">Services</a>
    <a class='app-nav__link' [routerLink]="['/gallery']">Gallery</a>
    <a class='app-nav__link' [routerLink]="['/projects']">Projects</a>
    <a class='app-nav__link' [routerLink]="['/projects/web']">Web Projects</a>
    <a class='app-nav__link' [routerLink]="['/projects/mobile']">Mobile App</a>
  </nav>
</header>
<section class='app-content'>
  <router-outlet></router-outlet>
</section>
<footer class='app-footer'></footer>
